/*COLOR VARIABLES, LIGHT MODE
pastel neutral shade*/
// BROWN SHADES
$ash: #aba9aa;
$sand-brown: #c8b7a7;
$light-sand-brown: #d9d1cf;

// WHITE
$white: #f8f4f3;
$very-white:rgb(243, 243, 243)3;

// BLACK
$black: #231f20;

//ACCENT
$blue: #5c8180;

// TRANSITION
$link-trans: all ease-in-out 0.3s;


//DARK MODE COLORS
$light-black: #1e1e1e;
$bg-black: #121212;
$accent-blue: #55d1de;
$accent-green: #4acfac;
$accent-purple: #6171d9;

//SUN
$sun: #f39c12

//MOON
